.main{
    border: 2px solid black;
    width: 190px;
    margin: 0 auto;

}
.res{
    width: 90%;
    background-color: gray;
    color:white;
}
.clear{
    width: 100%;
    margin-top: 10px;
    background-color: gray;
}
.btn{
    width: 40px;
    background-color: grey;
    margin: 1px;
}
.half{
    background-color: gray;
    width: 95px;
    margin-top: 5px;

}